.canote {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.canote-image {
  flex: 50%;
  display: flex;
  border-radius: 30px 50px 91px 51px;
}

.canote-content {
  flex: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.canote-title {
  flex: 1;
  overflow: hidden;
}

.canote-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.canote-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.progres-bar {
  background-color: rgba(33, 158, 188, 0.39);
  height: 70px;
  border-radius: 5px;
  overflow: hidden;
  margin: 7px 25px;
}

.progres {
  height: 70px;
  background-color: rgba(251, 133, 0, 1);
  transition: width 0.3s ease;
}
