:root {
  --border-color: #ccc;
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  --progress-bar-bg: rgba(33, 158, 188, 0.39);
  --progress-color: rgba(251, 133, 0, 1);
}

.canote {
  width: 100%;
  max-width: 500px;
  height: 500px;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.canote:hover {
  transform: scale(1.02);
}

.canote-image {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.canote-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.canote-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.canote-title {
  flex: 1;
  overflow: hidden;
}

.canote-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.canote-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.progress-bar {
  background-color: var(--progress-bar-bg);
  height: 20px;
  border-radius: 10px; /* Make the corners rounded */
  overflow: hidden;
  margin: 7px 25px;
}

.progress {
  height: 100%;
  background-color: var(--progress-color);
  transition: width 0.3s ease;
  border-radius: 10px; /* Make the corners rounded */
}

/* Add animation effect on hover */
.progress-bar:hover .progress {
  animation: increaseWidth 0.5s ease-in-out forwards;
}

/* Update the keyframes for the increaseWidth animation */
@keyframes increaseWidth {
  from {
    width: 0;
  }
  to {
    width: var(--percentage); /* Use the current percentage as the final width */
  }
}


/* Responsive design */
@media (max-width: 600px) {
  .canote {
    height: auto;
  }
  .canote-image, .canote-content {
    flex: none;
  }
}
