* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  color: rgba(2, 48, 71, 1);
}

.emailsent {
  max-width: 600px;
  width: 80%;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid rgba(33, 158, 188, 1);
  margin: 200px auto;
  padding: 40px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.t1 {
  font-size: 36px;
  font-weight: bold;
  color: rgba(33, 158, 188, 1);
  margin-bottom: 30px;
}

.pr1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgba(2, 48, 71, 0.8);
}

.email-name {
  font-weight: bold;
  color: rgba(33, 158, 188, 1);
}

.ok {
  background-color: rgba(33, 158, 188, 1);
  color: white;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.ok:hover {
  background-color: rgba(33, 158, 188, 0.8);
}
